%title {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24);
  color: #000000;
}

%button {
  color: $primary-white-color;
  background-color: $accent-color;
  font-weight: 500;
  border: none;
  border-radius: 38px;
  cursor: pointer;
}
%footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  color: $primary-white-color;
  margin-bottom: 18px;
}

%footer__text {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17/14);
  color: $primary-white-color;
}