$primary-white-color: #ffffff;
$primary-text-color: #000000;
$accent-color: #e86f54;
$hover-color: #e25b41;
$focus-color: #fa6f54;
$disabled-color: rgba(232, 111, 84, 0.4);
$placeholder-color: rgba(0, 0, 0, 0.4);
$icon-color: #0e0e0e;

 $modal-text-color:#5c5c5c;


$mobile: 479.98px;
$tablet: 767.98px;
$desktop: 1279.98px;
