<section class="about" id="about">
  <div class="container">
    <div class="about__title">ABOUT</div>
    <div class="about__wrapper">
      <p class="about__text">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
      </p>
      <picture>
        <source
          srcset="
            ./images/about/about-desk.jpg   1x,
            ./images/about/about-desk2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/about/about-tablet.jpg   1x,
            ./images/about/about-tablet2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/about/about-mobile.jpg   1x,
            ./images/about/about-mobile2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 767px)"
        />
        <img
          src="./images/about/about-mobile.jpg"
          alt="flowers"
          class="about__img"
        />
      </picture>
    </div>
  </div>
</section>

<!-- =============================================================== -->

<!-- <section class="about">
  <div class="container">
    <h2 class="about__title">about</h2>
    <ul class="about__list">
      <li class="about__item">
        <p class="about__text">
          We are a minimalistic flower studio. We love people and flowers.
          Therefore, every day we give people the beauty and joy creating
          stylish and modern masterpieces. Every bouquet we create is unique as
          you are.
        </p>
      </li>
      <li class="about__item">
        <picture>
          <source
            srcset="
              ./images/about/about-desk.jpg   1x,
              ./images/about/about-desk2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/about/about-tablet.jpg   1x,
              ./images/about/about-tablet2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/about/about-mobile.jpg   1x,
              ./images/about/about-mobile2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            src="./images/about/about-mobile.jpg"
            alt="flowers"
            class="about__img"
            max-width="632"
            max-height="344"
          />
        </picture>
      </li>
    </ul>
  </div>
</section> -->
