<section class="blog" id="blog">
  <div class="container"><h2 class="blog__title">Blog</h2></div>
  <div class="wrapper">
    <div class="slider">
      <div class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slider/img1-desk.jpg   1x,
              ./images/slider/img1-desk2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slider/img1-tablet.jpg   1x,
              ./images/slider/img1-tablet2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/slider/img1-mobile.jpg   1x,
              ./images/slider/img1-mobile2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            data-lazy="./images/slider/img1-mobile.jpg"
            src="./images/slider/img1-mobile.jpg"
            alt="flowers"
          />
        </picture>
      </div>
      <div class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slider/img2-desk.jpg   1x,
              ./images/slider/img2-desk2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slider/img2-tablet.jpg   1x,
              ./images/slider/img2-tablet2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/slider/img2-mobile.jpg   1x,
              ./images/slider/img2-mobile2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            data-lazy="./images/slider/img2-mobile.jpg"
            src="./images/slider/img2-mobile.jpg"
            alt="flowers"
          />
        </picture>
      </div>
      <div class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slider/img3-desk.jpg   1x,
              ./images/slider/img3-desk2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slider/img3-tablet.jpg   1x,
              ./images/slider/img3-tablet2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/slider/img3-mobile.jpg   1x,
              ./images/slider/img3-mobile2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            data-lazy="./images/slider/img3-mobile.jpg"
            src="./images/slider/img3-mobile.jpg"
            alt="flowers"
          />
        </picture>
      </div>
      <div class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slider/img4-desk.jpg   1x,
              ./images/slider/img4-desk2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slider/img4-tablet.jpg   1x,
              ./images/slider/img4-tablet2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/slider/img4-mobile.jpg   1x,
              ./images/slider/img4-mobile2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            data-lazy="./images/slider/img4-mobile.jpg"
            src="./images/slider/img4-mobile.jpg"
            alt="flowers"
          />
        </picture>
      </div>
      <div class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slider/img5-desk.jpg   1x,
              ./images/slider/img5-desk2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slider/img5-tablet.jpg   1x,
              ./images/slider/img5-tablet2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/slider/img5-mobile.jpg   1x,
              ./images/slider/img5-mobile2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            data-lazy="./images/slider/img5-mobile.jpg"
            src="./images/slider/img5-mobile.jpg"
            alt="flowers"
          />
        </picture>
      </div>
      <div class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slider/img6-desk.jpg   1x,
              ./images/slider/img6-desk2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slider/img6-tablet.jpg   1x,
              ./images/slider/img6-tablet2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/slider/img6-mobile.jpg   1x,
              ./images/slider/img6-mobile2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)"
          />
          <img
            data-lazy="./images/slider/img6-mobile.jpg"
            src="./images/slider/img6-mobile.jpg"
            alt="flowers"
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="subscribe container">
    <strong class="subscribe__strong">Follow to our newsletter</strong>
    <button type="button" class="subscribe__button" data-modal-open>
      Subscribe
    </button>
  </div>
</section>
