<section class="delivery" id="delivery">
  <div class="container">
    <h2 class="delivery__title">delivery</h2>
    <ol class="delivery__list">
      <li class="delivery__item">
        Choose your bouquet and make an order on website
      </li>
      <li class="delivery__item">
        Wait for the call to clarify the details of the order. You can pay
        online or to the courier
      </li>
      <li class="delivery__item">
        Wait for the delivery at the selected time or pick up the order from the
        store
      </li>
      <li class="delivery__item">Make someone happy or enjoy yourself</li>
    </ol>
  </div>
  <div class="delivery__image">
    <picture>
      <source
        srcset="
          ./images/delivery/delivery-desk.jpg   1x,
          ./images/delivery/delivery-desk2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/delivery/delivery-tablet.jpg   1x,
          ./images/delivery/delivery-tablet2x.jpg 2x
        "
        type="image/jpeg"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/delivery/delivery-mobile.jpg   1x,
          ./images/delivery/delivery-mobile2x.jpg 2x
        "
        type="image/jpeg"
        media="(max-width: 767px)"
      />
      <img src="./images/delivery/delivery-mobile.jpg" alt="flowers" />
    </picture>
  </div>
</section>
