<footer class="footer">
    <div class="container">
        <div class="footer__content">
            <section class="navigation">
                <h2 class="navigation__title">Navigation</h2>
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="#anemone" class="navigation__link">Anemone</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#about" class="navigation__link">About us</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#store" class="navigation__link">Store</a>
                    </li>
                    <li class="navigation__item">
                        <a href="#delivery" class="navigation__link">Delivery</a>
                    </li>
                </ul>
            </section>
            <section class="time">
                <h2 class="time__title">Opening times</h2>
                <p class="time__text">
                    Every day<span class="time__text--br">9:00 - 22:00</span>
                </p>
            </section>
            <section class="contacts">
                <h2 class="contacts__title">Contacts</h2>
                <ul class="contacts__list">
                    <li class="contacts__item">
                        <a href="tel.:+380631234567" class="contacts__link">+38 063 123 45 67</a>
                    </li>
                    <li class="contacts__item">
                        <a href="mail.:anemonestudio@example.com" class="contacts__link">anemonestudio<span
                                class="contacts__link--flex-br">@example.com</span>
                        </a>
                    </li>
                </ul>
                <address class="address">
                    Reitarska Street, 11<span class="address--br">Kyiv, Ukraine</span>
                </address>
            </section>
            <section class="media">
                <h2 class="media__title">Social media</h2>
                <ul class="media__list">
                    <li class="media__item">
                        <a href="#" class="media__link">
                            <svg class="icon" width="28" height="28">
                                <use href="./images/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="media__item">
                        <a href="#" class="media__link">
                            <svg class="icon" width="28" height="28">
                                <use href="./images/sprite.svg#insta"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</footer>