<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="" class="logo">
        <svg class="logo__icon">
          <use href="./images/sprite.svg#logo"></use>
        </svg>
      </a>
  
      <nav class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item"><a class="header__menu-link" href="#hero">Anemone</a></li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#about">About us</a>
          </li>
          <li class="header__menu-item"><a class="header__menu-link" href="#store">Store</a></li>
          <li class="header__menu-item">
            <a class="header__menu-link" href="#delivery">Delivery</a>
          </li>
          <li class="header__menu-item"><a class="header__menu-link" href="#blog">Blog</a></li>
        </ul>
      </nav>

      <div class="header__icon">
        <a class="telephone" href="">
          <svg class="telephone__icon">
              <use href="./images/sprite.svg#tel"></use>
          </svg>
        </a>
    
        <button type="button" class="open-mobile-menu-button js-open-menu">
            <svg class="mobile-menu-button__icon" width="24" height="24">
              <use href="./images/sprite.svg#burger"></use>
            </svg>
          </button>
      </div>

      <div class="mobile-menu js-menu-container">
        <div class="container mobile-menu__container">
          <button type="button" class="mobile-menu__close-button js-close-menu">
            <svg class="mobile-menu__close-icon" width="24" height="24">
              <use href="./images/sprite.svg#close-icon"></use>
            </svg>
          </button>

          <nav class="mobile-menu__nav">
            <ul class="mobile-menu__list">
              <li class="mobile-menu__item">
                <a
                  href="#hero"
                  class="mobile-menu__link"
                  >Anemone</a
                >
              </li>
              <li class="mobile-menu__item">
                <a href="#about" class="mobile-menu__link"
                  >About us</a
                >
              </li>
              <li class="mobile-menu__item">
                <a href="#store" class="mobile-menu__link">Store</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#delivery" class="mobile-menu__link">Delivery</a>
              </li>
              <li class="mobile-menu__item">
                <a href="#blog" class="mobile-menu__link">Blog</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/mobile-menu.js"></script>
</header>
