<section class="section">
    <div class="container">
        <!-- <h1 class="visually-hidden">#</h1>
        <ul class="btn__main--wrap">
            <li class="btn__list">
                <button class="btn__main" type="button">Усі
                </button>
            </li>
            <li class="btn__list">
                <button class="btn__main" type="button">Веб-сайт
                </button>
            </li>
            <li class="btn__list">
                <button class="btn__main" type="button">Додатки
                </button>
            </li>
            <li class="btn__list">
                <button class="btn__main" type="button">Дизайн
                </button>
            </li>
            <li class="btn__list">
                <button class="btn__main" type="button">Маркетинг
                </button>
            </li>
        </ul> -->
        <ul class="pics__list">
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/techno-1.png" alt="techno-site" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Технокряк</h3>
                        <p class="pics__subtitle">Веб-сайт</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/poster-nba.png" alt="poster-nba" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Постер New Orlean vs Golden Star</h3>
                        <p class="pics__subtitle">Дизайн</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/rest-seafood.png" alt="restaurant-seafood" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Ресторан Seafood</h3>
                        <p class="pics__subtitle">Додаток</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/project-prime.png" alt="project-prime" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Проєкт Prime</h3>
                        <p class="pics__subtitle">Маркетинг</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/project-boxes.png" alt="project-boxes" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Проєкт Boxes</h3>
                        <p class="pics__subtitle">Додаток</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/inspiration.png" alt="inspiration-no-borders" class="photo" -->
                            width="370">
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Inspiration has no Borders</h3>
                        <p class="pics__subtitle">Веб-сайт</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/publish-lim-edit.png" alt="publish-lim-edit" class="photo" -->
                            width="370">
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Видання Limited Edition</h3>
                        <p class="pics__subtitle">Дизайн</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/project-lab.png" alt="project-lab" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Проєкт LAB</h3>
                        <p class="pics__subtitle">Маркетинг</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/grow-business.png" alt="grow-business" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Growing Business</h3>
                        <p class="pics__subtitle">Додаток</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>