<section class="store">
    <div class="container">
        <h2 class="store__title">Store</h2>
        <ul class="store__list">
            <li class="store__item">
                <a class="store__link" href="">
                    <img src="./images/store/img1-mobile.jpg" alt="flower1-store" class="store-photo" width="136">
                    <div class="store__title-wrap">
                        <h3 class="store__pic-title">compliments</h3>
                        <p class="store__sub-title">from $15</p>
                    </div>
                </a>
            </li>
            <li class="store__item">
                <a class="store__link" href="">
                    <img src="./images/store/img2-mobile.jpg" alt="flower2-store" class="store-photo" width="136">
                    <div class="store__title-wrap">
                        <h3 class="store__pic-title">bouquets size S</h3>
                        <p class="store__sub-title">from $25</p>
                    </div>
                </a>
            </li>
            <li class="store__item">
                <a class="store__link" href="">
                    <img src="./images/store/img3-mobile.jpg" alt="flower3-store" class="store-photo" width="136">
                    <div class="store__title-wrap">
                        <h3 class="store__pic-title">bouquets size M</h3>
                        <p class="store__sub-title">from $45</p>
                    </div>
                </a>
            </li>
            <li class="store__item">
                <a class="store__link" href="">
                    <img src="./images/store/img4-mobile.jpg" alt="flower4-store" class="store-photo" width="136">
                    <div class="store__title-wrap">
                        <h3 class="store__pic-title">bouquets size L</h3>
                        <p class="store__sub-title">from $60</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>