<section class="store">
    <div class="container">
        <h2 class="store__title">Store</h2>
        <ul class="store__list">
            <li class="store__item">
                <a class="store__link" href="">
                    <div class="store__wrap">
                        <img src="./images/store/img1-mobile.jpg" alt="flower1-store" class="store-photo" width="136">
                        <div class="store__title-wrap">
                            <h3 class="store__pic-title">compliments</h3>
                            <p class="store__sub-title">from $15</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="store__item">
                <a class="store__link" href="">
                    <div class="store__wrap">
                        <img src="./images/store/img1-mobile.jpg" alt="flower1-store" class="store-photo" width="136">
                        <h3 class="store__pic-title">compliments</h3>
                        <p class="store__sub-title">from $15</p>
                    </div>
                    <!-- <div class="pics__title-wrap">
                        <h3 class="pics__title">Постер New Orlean vs Golden Star</h3>
                        <p class="pics__subtitle">Дизайн</p>
                    </div> -->
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/rest-seafood.png" alt="restaurant-seafood" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Ресторан Seafood</h3>
                        <p class="pics__subtitle">Додаток</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/project-prime.png" alt="project-prime" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Проєкт Prime</h3>
                        <p class="pics__subtitle">Маркетинг</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/project-boxes.png" alt="project-boxes" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Проєкт Boxes</h3>
                        <p class="pics__subtitle">Додаток</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/inspiration.png" alt="inspiration-no-borders" class="photo" -->
                        width="370">
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Inspiration has no Borders</h3>
                        <p class="pics__subtitle">Веб-сайт</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/publish-lim-edit.png" alt="publish-lim-edit" class="photo" -->
                        width="370">
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Видання Limited Edition</h3>
                        <p class="pics__subtitle">Дизайн</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/project-lab.png" alt="project-lab" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Проєкт LAB</h3>
                        <p class="pics__subtitle">Маркетинг</p>
                    </div>
                </a>
            </li>
            <li class="pics__item">
                <a class="pics__link" href="">
                    <div class="pics__wrap">
                        <!-- <img src="./images/grow-business.png" alt="grow-business" class="photo" width="370"> -->
                        <p class="pics__wrap-text">
                            Ресурс пропонує комплексні пропозиції з різним рівнем
                            функціоналу та сервісів. Все це дозволить відвідувачу
                            отримати вичерпні відомості про компанію чи приватну особу.
                        </p>
                    </div>
                    <div class="pics__title-wrap">
                        <h3 class="pics__title">Growing Business</h3>
                        <p class="pics__subtitle">Додаток</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>