.blog {
  overflow: hidden;
  overflow-y: hidden;
}

.blog__title {
  @extend %title;
  display: flex;
  align-items: center;

  margin-bottom: 32px;

  &::after {
    content: '';
    display: block;

    width: 100%;
    height: 1px;
    margin-left: 14px;

    background-color: $primary-text-color;
  }

  @media screen and(min-width: $tablet) {
    font-size: 44px;
    line-height: calc(54 / 44);
    margin-bottom: 60px;
  }

  @media screen and(min-width: $desktop) {
    margin-bottom: 122px;
  }
}

.blog__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 28px;
  gap: 8px;

  position: relative;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 44px;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
}
.subscribe__strong {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);

  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;

    font-size: 32px;
    line-height: calc(39 / 32);
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 48px;
  }
}

.subscribe__button {
  @extend %button;
  padding: 8 40;

  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);

  @media screen and (min-width: $tablet) {
    padding: 20 70;

    font-size: 28px;
    line-height: calc(24 / 28);
  }

  &:hover {
    background-color: $hover-color;
  }

  &:focus {
    background-color: $focus-color;
    outline: transparent;
  }
}

// ===============================================================

img {
  display: block;
}

.wrapper {
  height: 100%;
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  button {
    padding: 0;
  }
  @media screen and(max-width: 1279px) {
    width: 768px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
  }
  @media screen and(max-width: 767px) {
    width: 480px;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
  }
  @media screen and(max-width: 480px) {
    width: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

.slider {
  position: relative;
  padding: 0;
  width: 1200px;
  @media screen and(max-width: 1279px) {
    width: 768px;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  @media screen and(max-width: 767px) {
    width: 480px;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  @media screen and(max-width: 480px) {
    width: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}

/* Слайдер
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  /* ==================================================================== Что бы не выглядывал, может пригодится  */
}
/* Лента слайдов */
.slick-track {
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 0;
  width: 96px;
  height: 64px;
  border: none;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../images/arrow-left.svg') 0 0 / 100% no-repeat;
  //   @media screen and(max-width: $desktop) {
  //     background: url('../images/arrow-tab-left.svg') 0 0 / 100% no-repeat;
  //   }
  @media screen and(max-width: $mobile) {
    background: url('../images/arrow-mob-left.svg') 0 0 / 100% no-repeat;
    width: 41px;
    height: 27px;
  }
  @media screen and(min-width: $mobile) and (max-width: $tablet) {
    background: url('../images/arrow-mob-left.svg') 0 0 / 100% no-repeat;
    width: 41px;
    height: 27px;
    left: 25;
  }
  @media screen and(min-width: $tablet) and (max-width: $desktop) {
    background: url('../images/arrow-tab-left.svg') 0 0 / 100% no-repeat;
    width: 97px;
    height: 64px;
  }
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url('../images/arrow-right.svg') 0 0 / 100% no-repeat;
  //   @media screen and(max-width: $desktop) {
  //     background: url('../images/arrow-tab-right.svg') 0 0 / 100% no-repeat;
  //   }

  @media screen and(max-width: $mobile) {
    background: url('../images/arrow-mob-right.svg') 0 0 / 100% no-repeat;
    width: 41px;
    height: 27px;
  }
  @media screen and(min-width: $mobile) and (max-width: $tablet) {
    background: url('../images/arrow-mob-right.svg') 0 0 / 100% no-repeat;
    width: 41px;
    height: 27px;
    right: 25;
  }
  @media screen and(min-width: $tablet) and (max-width: $desktop) {
    background: url('../images/arrow-tab-right.svg') 0 0 / 100% no-repeat;
    width: 97px;
    height: 64px;
  }
}

.slider__item img {
  //   width: 390px;
  //   height: 421px;
  transform: scale(0.8);
  transition: transform 250ms ease;
}

.slick-slide.slick-center img {
  transform: scale(1);
}

/* от 320пх до 1280 1 слайд, и марджины 
слайдер без контейнера, большие марджины что бы спрятать края слайдов

*/
