.footer {
    padding: 32px 0;
    background-color: $primary-text-color;

    @media screen and(min-width:$tablet) {
        padding-top: 60px;
    }

    @media screen and(min-width:$desktop) {
        padding-top: 72px;
    }

    &__content {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        width: 100%;

        @media screen and(min-width:$tablet) {
            flex-wrap: nowrap;
            gap: 0;
        }
    }
}
.footer__logo{
    display: none;
    @media  screen and(min-width:$desktop) {
        display: block;
        margin-right: 210px;
        fill: $primary-white-color;
    }
}

.navigation {
    padding: 0;
    text-align: start;
    width: calc((100% - 32px) / 2);

    @media screen and (min-width: $mobile) {
        width: calc((448px - 32px) / 2);
    }

    @media screen and (min-width: $tablet) {
        margin-right:44px ;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 96px;
    }

    &__title {
        @extend %footer__title;
    }

    &__item:not(:last-child) {
        margin-bottom: 12px;
    }

    &__link {
        @extend %footer__text;
    }
}

.time {
    padding: 0;
    text-align: start;
    width: calc((100% - 32px) / 2);

    @media screen and (min-width: $mobile) {
        width: calc((448px - 32px) / 2);
    }

    @media screen and (min-width: $tablet) {
        margin-right: 44px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 96px;
    }

    &__title {
        @extend %footer__title;
    }

    &__text {
        @extend %footer__text;
    }
}

.time__text--br {
    display: block;
    width: 100%;
}

.contacts {
    padding: 0;
    text-align: start;
    width: calc((100% - 32px) / 2);

    @media screen and (min-width: $mobile) {
        width: calc((448px - 32px) / 2);
    }

    @media screen and (min-width: $tablet) {
        margin-right: 64px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 208px;
    }

    &__title {
        @extend %footer__title;
    }

    &__item {
        margin-bottom: 12px;
    }

    &__link {
        @extend %footer__text;
    }
}

.contacts__link--flex-br {
    display: block;

    @media screen and (min-width: $tablet) {
        display: inline;
    }
}

.address {
    @extend %footer__text;
    font-style: normal;
    text-align: start;
   

    @media screen and (min-width: $mobile) {
        width: calc((448px - 32px) / 2);
    }

    @media screen and (min-width: $tablet) {}

    @media screen and (min-width: $desktop) {}

    &--br {
        display: block;
    }
}

.media {
    padding: 0;
    text-align: start;
    width: calc((100% - 32px) / 2);

    @media screen and (min-width: $mobile) {}

    @media screen and (min-width: $tablet) {
        width: max-content;
        margin-right: 16px;
    }

    // @media screen and (min-width: $desktop) {
    //     width: max-content;
       
    // }

    &__title {
        @extend %footer__title;
        position: absolute;
        opacity: 0;
        color: aliceblue;
        margin: 0;

        @media screen and (min-width: $tablet) {
            right:40px ;
            transform: rotate(90deg);
        }
    }

    &__list {
        display: flex;
        gap: 10px;

        @media screen and (min-width: $tablet) {
           flex-direction: column;
            position: relative;
            gap: 18px;
        }
    }

    &__item {}
}