.hero {
  overflow: hidden;
  padding-bottom: 100px;
}
.container {
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero__text {
  font-size: 14px;
  line-height: calc(17 / 14);
  color: $primary-text-color;
  margin-right: 14px;
}
.hero__img {
}
.hero__btn {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 64px;
  height: 76px;
  margin-left: 8px;
}
.hero__svg {
  display: block;
  width: 100%;
  height: 100%;
}
.hero__title {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translate(-50%);
  font-weight: 400;
  font-size: 52px;
  line-height: calc(63 / 52);
  color: $primary-text-color;
}

// .hero {
//   position: relative;
//   text-align: center;
//   padding-top: 45px;
//   //   padding-bottom: 100px;
//   height: 420px;
//   overflow: hidden;

//   @media screen and(min-width: $tablet) {
//     padding-top: 38px;
//     height: 860px;
//   }

//   @media screen and (min-width: $desktop) {
//     padding-top: 64px;
//   }
// }

// .hero__container {
//   height: 100%;
// }

// .hero__wrapper {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   height: 100%;

//   margin: 0 -84px;
//   gap: 167px;
//   @media screen and(min-width: $tablet) {
//     gap: 450;
//   }
//   @media screen and(min-width: $desktop) {
//     gap: 610;
//   }
// }

// .hero__text {
//   font-size: 14px;
//   line-height: calc(17 / 14);
//   color: $primary-text-color;
//   margin-left: 11px;
//   @media screen and(min-width: $tablet) {
//     font-size: 24px;
//     line-height: calc(29 / 24);
//     margin-left: 45px;
//   }
//   @media screen and(min-width: $desktop) {
//     font-size: 32px;
//     line-height: calc(39 / 32);
//     margin-left: 60px;
//   }
// }

// .hero__title {
//   display: block;
//   width: 100%;
//   font-weight: 400;
//   font-size: 52px;
//   line-height: calc(63 / 52);
//   color: $primary-text-color;
//   margin-top: -30px;
//   @media screen and(min-width: $tablet) {
//     font-size: 120px;
//     line-height: calc(146 / 120);
//     text-align: center;
//     margin-top: -127px;
//     color: #000000;
//   }
//   @media screen and(min-width: $desktop) {
//     font-size: 160px;
//     line-height: calc(195 / 160);
//     margin-top: -165px;
//   }
// }
// .hero__img {
//   position: absolute;
//   top: 44px;
//   left: 50%;
//   transform: translateX(-50%);
//   z-index: -1;
//   @media screen and(min-width: $tablet) {
//     width: 390px;
//     height: 636px;
//     top: 38px;
//   }
//   @media screen and (min-width: $desktop) {
//     top: 64px;
//   }
// }

// .hero__img img {
// }

// .hero__btn {
//   padding: 0;
//   margin: 0;
//   background-color: transparent;
//   border: none;
//   cursor: pointer;

//   width: 64px;
//   height: 76px;
//   @media screen and(min-width: $tablet) {
//     width: 145px;
//     height: 150px;
//   }
//   @media screen and(min-width: $desktop) {
//     width: 166px;
//     height: 166px;
//   }
// }

// .hero__svg {
//   display: block;
//   width: 100%;
//   height: 100%;
// }
